@font-face {
    font-family: "Zelda Font";
    src: url("../fuentes/HyliaSerif.ttf");
}

@font-face{
    font-family: "FuenteFF";
    src: url("../fuentes/finalf.ttf");
}

body{
    background-color: #0d0d0d; /*A침adidos nuevos, antes tenia aqui el color blanquecino ese*/
    color: #EAEAEA;
}

header{
    text-align:center;
    font-size:15px;
    background-color: #121214;
    margin: 0;
    padding: 0;
}

.cabecera{
    display: inline;
}

#imgZelda{
    width:16.5px;
}

#imgLink{
    width: 20px;
}

#titulo{
    margin-top: 0;
    font-family: Zelda Font;
}

#colorTitulo{
   color:rgb(183, 158, 103);
}

ol{
    font-size: 0;
    padding: 0;
    margin-top: 10px;
}
.menu{
    display:inline-block;
    width: 20%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}

.menu:hover{
    background-color: #F44336; /*Nuevo color hover*/
}

.enlaceMenu{
    color:white;
}

a{
    text-decoration: none;
}

#titulo2Principal{
    text-align: center;
    font-family: Zelda Font;
    color:rgb(196, 54, 45);
}

#tituloSilksong{
    font-family: FuenteFF;
    font-size: 25px;
    color: rgb(85, 29, 32);
}

.articuloPagPrincipal{              
    margin: 25px;
}

.imagenesPrinc{
    width: 250px;
    border-radius: 10px;
}

.centrar{
    margin: 0 auto;
    width: 80%;
}

#seccion1{
    width: 100%;
    float: left;
}

.articuloJuegos{
    width: 100%;
    min-height: 224px;
    float: left;
    border-radius: 12px; /*A partir de aqui son a침adidos nuevos*/
    margin: 20px;
    padding: 20px 20px 50px 0px;
    background-color: #1A1A1A; /*fin a침adidos*/
}

.tituloEimagenJuego{
    width: 25%;
    float: left;
    text-align: center;
}

.cajaReviews{
    width: 75%;
    float: left;
    padding-top:20px;
}

.reviewAutor{
    width: 100%;
    float: left;
}

.likeOdislike{
    width: 20%;
    float: left;
} 

.imagenLoD{
    width: 120px;
    border-radius: 10px;
}

.logos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*lo muevo un 50% del grande de la caja*/
}

.userYrev{
    width: 70%;
    float: left;
}

.logoPlataforma{
    width: 10%;
    min-height: 50px;
    position: relative;
    float: left;
}

footer{
    color: #EAEAEA;
    text-align: center;
    float: left;
    width: 100%;
    min-height: 1px;
}

.enlacesExt{
    margin-bottom: 10px;
    display: block;
    color: #EAEAEA; /*puedo usar para el footer el estilo que tengo en el index, una caja para cada enlace o hacer lo de que se muevan*/
}

.titPagint{
    text-align: center;
}

/*estilo del silo*/

.titSilo{
    text-align: center;
    color: rgb(183, 158, 103);
    margin: 0;
    padding: 0;
}

.encSilo{
    width: 100%;
    min-height: 10px;
    margin: 0;
}

.enlacSilo{
    text-decoration: none;
    color: inherit;      
}

.movEnlac{
    margin-left: 190px;
    text-align: left;
}

.enlacSilo:hover{
    color: #F44336;
}

.seccSilo{
    width: 100%;
    min-height: 10px;
    float: left;
}

.claseArtSilo{
    width: 100%;
    display: flex; /*los hijos del article se van a displayear por los ejes X e Y (horizontal y vertical)*/
    align-items: center; /*esto controla la alineaci칩n del eje Y (vertical), y por ende se queda centrado*/
    float: left;
    min-height: 10px;
}

.cajTextSilo{
    width: 90%;
    float: left;
    padding-right: 25px;
    box-sizing: border-box;
    margin: 0px;
}

.imgSilo{
    width: 10%;
    float: left;
    border-radius: 10px;
}

