@font-face {
    font-family: "Zelda Font";
    src: url("../Fuentes/HyliaSerif.ttf");
}

@font-face{
    font-family: "FuenteFF";
    src: url("../Fuentes/finalf.ttf");
}

body{
    background-color: rgb(241, 242, 237);
}

header{
    text-align:center;
    font-size:15px;
    background-color:black;
    margin: 0;
    padding: 0;
}

.cabecera{
    display: inline;
}

#imgZelda{
    width:16.5px;
}

#imgLink{
    width: 20px;
}

#titulo{
    margin-top: 0;
    font-family: Zelda Font;
}

#colorTitulo{
   color:rgb(183, 158, 103);
}

ol{
    font-size: 0;
    padding: 0;
    margin-top: 10px;
}
.menu{
    display:inline-block;
    width: 25%;
    font-size: 16px;
    text-align: center;
}

.enlaceMenu{
    color:white;
}

a{
    text-decoration: none;
}

#titulo2Principal{
    text-align: center;
    font-family: Zelda Font;
    color:rgb(196, 54, 45);
}

#titulo3Principal{
    text-align: center;
    font-family: Zelda Font;
}

#tituloSilksong{
    font-family: FuenteFF;
    font-size: 25px;
    color: rgb(85, 29, 32);
}

.articuloPagPrincipal{              
    margin: 25px;
}

.imagenesPrinc{
    width: 250px;
}

#centrar{
    margin: 0 auto;
    width: 80%;
}

#seccion1{
    width: 100%;
    float: left;
}

.articuloJuegos{
    width: 100%;
    min-height: 224px;
    float: left;
}

.tituloEimagenJuego{
    width: 25%;
    float: left;
}

.cajaReviews{
    width: 75%;
    float: left;
}

.reviewAutor{
    width: 100%;
    float: left;
}

.likeOdislike{
    width: 20%;
    float: left;
} 

.imagenLoD{
    width: 120px;
}

.logos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*lo muevo un 50% del grande de la caja*/
}

.userYrev{
    width: 70%;
    float: left;
}

.logoPlataforma{
    width: 10%;
    min-height: 50px;
    position: relative;
    float: left;
}

footer{
    color: black;
    text-align: center;
}


